application.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02">
    <doc xmlns:jersey="http://jersey.java.net/" jersey:generatedBy="Jersey: 2.17 2015-03-11 13:44:09"/>
    <doc xmlns:jersey="http://jersey.java.net/" jersey:hint="This is simplified WADL with user and core resources only. To get full WADL with extended resources use the query parameter detail. Link: http://localhost:9999/logistikk/application.wadl?detail=true"/>
    <grammars>
        <include href="application.wadl/xsd0.xsd">
            <doc title="Generated" xml:lang="en"/>
        </include>
    </grammars>
    <resources base="http://localhost:9999/logistikk/">
        <resource path="/eiendel">
            <resource path="/">
                <method id="listEiendeler" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="eiendel" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/{eiendelid}/eier/{eierid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eierid" style="template" type="xs:int"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eiendelid" style="template" type="xs:int"/>
                <method id="vis" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="eiendel" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="{eiendelid}/eier/{eierid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eierid" style="template" type="xs:int"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eiendelid" style="template" type="xs:int"/>
                <method id="mottak" name="PUT">
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="/eier">
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:int"/>
                <method id="vis" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="eier" mediaType="application/xml"/>
                    </response>
                </method>
                <method id="mottak" name="PUT"/>
                <method id="uttak" name="POST">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="eier" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/">
                <method id="listeEiere" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="eier" mediaType="application/xml"/>
                    </response>
                </method>
                <method id="feed" name="GET">
                    <response>
                        <representation mediaType="application/atom+xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}/eiendel">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:int"/>
                <method id="visEiendeler" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="eiendel" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}/eiendel/{eiendelid}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="id" style="template" type="xs:int"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="eiendelid" style="template" type="xs:int"/>
                <method id="visEiendel" name="GET">
                    <response>
                        <ns2:representation xmlns:ns2="http://wadl.dev.java.net/2009/02" xmlns="" element="eiendel" mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>
